# Общие настройки, которые всегда должны быть использованы для настроек вашего языка.
# Автоматическое определение текстовых файлов и выполнение нормализации LF
# http://davidlaing.com/2012/09/19/customise-your-gitattributes-to-become-a-git-ninja/
# https://docs.github.com/en/get-started/getting-started-with-git/configuring-git-to-handle-line-endings
# git config --global core.eol lf
# git ls-files --eol
# git add --renormalize .
# or
# git rm --cached -r . && git reset --hard
# or
# git read-tree --empty
# git add .
# git commit -m "Introduce end-of-line normalization"
# Define text file attributes.
# - Treat them as text.
# - Ensure no CRLF line-endings, neither on checkout nor on checkin.
# - Detect whitespace errors.
#   - Exposed by default in `git diff --color` on the CLI.
#   - Validate with `git diff --check`.
#   - Deny applying with `git apply --whitespace=error-all`.
#   - Fix automatically with `git apply --whitespace=fix`.

*.css text eol=lf diff=css
*.html text eol=lf diff=html
*.js text eol=lf
*.json text eol=lf
*.txt text eol=lf
*.php text eol=lf diff=php
*.inc text eol=lf
*.py text eol=lf

# Auto-detect text files, ensure they use LF (not recommended).
#* text=auto eol=lf

#
# Строка выше будет обрабатывать все файлы, которых нет в списке ниже.
#

# Documents
*.doc     diff=astextplain
*.DOC     diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF     diff=astextplain
*.rtf     diff=astextplain
*.RTF     diff=astextplain
*.md text diff=markdown
*.tex text diff=tex
*.adoc text
*.textile text
*.mustache text
*.csv text
*.tab text
*.tsv text
*.sql text
*.vcproj text eol=crlf
*.sh text eol=lf diff=bash
*.py text eol=lf diff=python

# Graphics
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.tif binary
*.tiff binary
*.ico binary
*.webp binary
*.woff binary
*.woff2 binary
*.ttf binary
# SVG по дефолту рассматривается как бинарный. Если вы хотите, чтобы он распознавался как текст, закомментируйте  следующую строку и раскомментируйте следующую за ней.
*.svg binary
#*.svg text
*.eps binary

#
# Исключить файлы из экспорта
#

.gitattributes export-ignore
.gitignore export-ignore
