# rc template for restic wiht swift repo on selectel

# restic
export AWS_ACCESS_KEY_ID=
export AWS_SECRET_ACCESS_KEY=
export RESTIC_PASSWORD=""
export RESTIC_REPOSITORY="s3:https://s3.ru-1.storage.selcloud.ru:/container_name/www"
export BACKUP_ROOT="/home/bitrix/"


# if use msmtp
#export sendmail="/usr/bin/msmtp"

keep_policy=(
#--keep-last 2
--keep-daily 14
--keep-weekly 4
--keep-monthly 2
#--keep-yearly 10
)
