[Unit]
Description=uWSGI
After=syslog.target

[Service]
WorkingDirectory=/var/www/bitrix/default
User=bitrix
Group=bitrix
ExecStart=/var/www/bitrix/default/djneira-venv/bin/uwsgi --ini /var/www/bitrix/default/system_configs/uwsgi/neiro.ini
# Requires systemd version 211 or newer
#RuntimeDirectory=uwsgi
Restart=always
RestartSec=15
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
